@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
::-webkit-input-placeholder {
    color: white;
    filter: drop-shadow(0 1px 1px black);

 }

body{
    background-image: url(uwp1456894.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-area-in{
    width: 35%;
    height: 75vh;
    backdrop-filter: blur(2px);
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    flex-direction: column;
    gap: 20px;

    .form-area-in1{
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .title{
            color: white;
            filter: drop-shadow(0 1px 1px black);
            text-align: center;
        }

    }
    .form-area-in2{
        height: 40%;
        width: 75%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        input{
            outline: none;
            border-bottom: 1px solid white;
            background: transparent;
            text-align: center;
            color: white;
            text-decoration: none;
        }

    }
    .form-area-in3{
        height: 30%;
        width: 75%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;        

        button{
            height: 50%;
            width: 100%;
            border-radius: 15px;
            // border: 1px solid gray;
            font-size: 100%;
            font-weight: 800;
            transition: .3s ease-out;
        }
        button:hover{
            box-shadow: 0 0 8px white;
            font-size: 110%;
            transition: .3s ease-in;
            cursor: pointer;
        }
        

    }

}
